html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	color: #2f3035;
	font-family: "SFProDisplay-Regular", sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	margin-bottom: 80px;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
	font-family: "SFProDisplay-Bold", sans-serif;
	font-weight: 700;
}

.menu__item {
	display: inline-block;
}

.menu__item + .menu__item {
	padding-left: 50px;
}

.header__box {
	display: flex;
}

.header__adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;
}

.header__adress::before {
	content: "";
	position: absolute;
	background-image: url("../images/adress-icon.svg");
	width: 30px;
	height: 30px;
	left: 0;
	top: -10px;
}

.user-list {
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.user-list__item {
	padding-right: 10px;
}

.basket {
	position: relative;
}

.basket__num {
	position: absolute;
	font-family: "SFProDisplay-Medium", sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	background-color: #1c62cd;
	border-radius: 50%;
	text-align: center;
	bottom: -5px;
	right: -12px;
}

.menu-categories {
	background-color: #f0f0f4;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 53px;
}

.menu-categories__item {
	position: relative;
}

.menu-categories__link {
	transition: all 0.2s;
	font-weight: 400;
	padding: 15px 0 14px;
	position: relative;
}

.menu-categories__link:before {
	content: "";
	position: absolute;
	width: 0;
	right: 0;
	left: auto;
	background-color: #1c62cd;
	height: 3px;
	bottom: -2px;
	transition: all 0.3s;
}

.menu-categories__link:hover {
	color: black;
}

.menu-categories__link:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}

.banner-section__inner {
	display: flex;
	justify-content: space-between;
}

.banner-section__slider {
	max-width: 870px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	cursor: pointer;
}

.banner-section__slider-btnprev {
	left: 20px;
}

.banner-section__slider-btnnext {
	right: 20px;
}

.slick-dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: transparent;
}

.slick-active li button {
	background-color: #fff;
}

.sale-item {
	max-width: 265px;
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sale-item__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sale-item__info {
	color: #fff;
	background-color: #1c62cd;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.sale-item__price {
	text-align: right;
}

.price {
	font-family: "Barlow", sans-serif;
}

.sale-item__price-new {
	font-weight: 700;
	font-size: 27px;
	color: #1c62cd;
	line-height: 32px;
	margin-right: 6px;
	padding-right: 20px;
	position: relative;
}

.sale-item__price-new::after {
	content: "";
	background-image: url("../images/icons-price.svg");
	position: absolute;
	right: 1px;
	top: 8px;
	width: 15px;
	height: 18px;
}

.sale-item__price-old {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #c4c4c4;
	margin-right: 15px;
	background-image: url("../images/old-line.svg");
	padding: 2px 5px;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.sale-item__price-old::after {
	content: "";
	background-image: url("../images/icons-price-old.svg");
	background-repeat: no-repeat;
	position: absolute;
	right: -10px;
	top: 8px;
	width: 10px;
	height: 10px;
}

.sale-item__footer {
	background-color: #f0f0f4;
	padding: 25px 20px;
	font-size: 18px;
	line-height: 21px;
}

.sale-item__footer span {
	color: #1c62cd;
	display: block;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
}

.sale-item__title {
	font-size: 18px;
	line-height: 21px;
	font-family: "SFProDisplay-Bold", sans-serif;
	font-weight: 700;
	margin-bottom: 7px;
}

.banner-section__slider-img {
	object-fit: cover;
	min-height: 400px;
}

.sale-item__img {
	object-fit: contain;
}

.search__tabs {
	margin-bottom: 25px;
}

.search__tabs-item {
	padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
	border-radius: 5px;
	background: #f0f0f4;
	font-weight: 700;
	font-family: "SFProDisplay-Bold", sans-serif;
}

.tabs-content {
	display: none;
}

.tabs-wrapper {
	width: 290px;
}

.tabs-content.tabs-content--active {
	display: block;
}

.search__content-form {
	display: flex;
}

.search__content-input {
	background: #f0f0f4;
	border-radius: 3px;
	padding: 5px 20px;
	border: none;
	font-weight: normal;
	line-height: 19px;
	font-size: 16px;
	width: 100%;
}
.search__content-input::placeholder {
	color: #656464;
}

.search__content-btn {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #fff;
	font-family: "SFProDisplay-Bold", sans-serif;
	background: #1c62cd;
	border-radius: 3px;
	padding: 17px 41px;
	border: none;
	margin-left: -3px;
}

.categories__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categories__item {
	margin-bottom: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	width: 370px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	transition: all 0.3s;
}

.categories__item-info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories__item__img {
	text-align: center;
	width: 50%;
}

.categories__item__img img {
	max-width: 100%;
}

.caregories__item-title {
	font-weight: bold;
	font-size: 23px;
	line-height: 28px;
	font-family: "Barlow", sans-serif;
	transition: all 0.3s;
}

.categories__item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title {
	color: #1c62cd;
}

.categories__item-text {
	line-height: 17px;
	font-size: 14px;
	color: #c4c4c4;
}

.categories__item-text::after {
	content: url("../images/link-arrow.svg");
	padding-left: 2px;
}

.product-item__wrapper {
	position: relative;
}

.product-item__wrapper.product-item__wrapper--list {
	max-width: 271px;
}

.product-item {
	min-height: 410px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	text-align: center;
	padding: 50px 10px 10px;
	transition: all 0.3s;
	width: 100%;
}

.product-item__title {
	font-weight: normal;
	padding: 14px 0 25px;
	font-size: 18px;
	line-height: 21px;
}

.product-item__favorite {
	position: absolute;
	top: 16px;
	right: 19px;
	width: 24px;
	height: 22px;
	background-color: transparent;
	outline: none;
	border: none;
	z-index: 5;
}

.product-item__favorite::before {
	content: "";
	position: absolute;
	background-image: url("../images/favorite.svg");
	width: 24px;
	height: 22px;
	top: 0;
	left: 0;
}

.product-item__favorite--active {
	background-image: url("../images/favorite-active.svg");
}

.product-item__price {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
}

.product-item__basket {
	position: absolute;
	width: 60px;
	height: 40px;
	background: #1c62cd;
	border-radius: 10px 0 0 0;
	border: none;
	bottom: 0;
	right: 0;
	padding-top: 7px;
	cursor: pointer;
	z-index: 10;
}

.product-item__basket::before {
	content: "";
	background-image: url("../images/basket-white.svg");
	width: 30px;
	height: 23px;
	background-repeat: no-repeat;
	top: 10px;
	left: 14px;
	position: absolute;
}

.product-item__hover-text {
	padding: 18px 21px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: inline-block;
	position: absolute;
	top: 30%;
	opacity: 0;
	transition: all 0.3s;
}

.product-item:hover .product-item__hover-text {
	opacity: 1;
	color: #2f3035;
}

.product-item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	color: #1c62cd;
}

.product-item:hover .product-item__notify-text {
	color: #2f3035;
}

.product-item--sale::before {
	content: "SALE";
	padding: 8px 15px;
	background-color: #1c62cd;
	position: absolute;
	left: 0;
	top: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available .product-item__price {
	display: none;
}

.product-item__notify-text {
	display: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
	display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
	display: none;
}

.product-item__notify-link {
	display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title {
	padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	width: 100%;
	color: #1c62cd;
}

.product-item__wrapper.product-item__not-available
	.product-item__notify-link
	span {
	border-bottom: 1px solid #1c62cd;
}

.product__title {
	font-family: "Barlow", sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 25px;
}

.products__tab + .products__tab {
	margin-left: 50px;
}

.products__tab {
	margin-bottom: 25px;
}

.products__tab {
	padding-bottom: 10px;
}

.products__tab.tab--active {
	border-bottom: 2px solid #1c62cd;
}

.product-slider__slider-btnprev {
	left: -40px;
}

.product-slider__slider-btnnext {
	right: -40px;
}

.slick-slide img {
	display: inline;
}

.products {
	margin-bottom: 80px;
}

.product__more {
	text-align: center;
	margin: 35px 0 0;
}

.product__more-link {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	background: #f0f0f4;
	padding: 16px 43px;
}

.banner {
	margin-bottom: 80px;
}

.footer {
	background: #f0f0f4;
}

.footer__bottom {
	padding: 46px 0 22px;
	display: flex;
	justify-content: center;
}

.footer__bottom-link {
	line-height: 12px;
	color: #48494d;
	font-size: 10px;
	margin: 0 40px;
}

.footer__top {
	padding-top: 43px;
}

.footer__top-inner {
	display: flex;
	justify-content: space-between;
}

.footer__top-newslatter.footer__top-item {
	width: 295px;
	margin-right: 50px;
}

.footer__top-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.footer-form {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
}

.footer-form__input {
	background-color: #fff;
	border: none;
	line-height: 17px;
	font-size: 14px;
	padding: 0 12px;
}

.footer-form__input::placeholder {
	color: #c4c4c4;
}

.footer-form__btn {
	text-transform: uppercase;
	padding: 10px 16px;
	border: none;
	background-color: #1c62cd;
	color: #fff;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.12em;
	font-family: "SFProDisplay-Semibold", sans-serif;
}

.footer__top-item {
	width: 200px;
}

.footer-list {
	font-size: 14px;
	line-height: 22px;
	height: 100%;
}

.footer__top-social.footer__top-item {
	width: 250px;
}

.social-list {
	display: flex;
	align-items: center;
}

.social-list__item + .social-list__item {
	margin-left: 30px;
}

.breadcrumbs {
	margin-bottom: 40px;
}

.breadcrumbs__list-item {
	display: inline-block;
	padding-right: 16px;
	margin-right: 10px;
	position: relative;
	line-height: 18px;
	font-size: 15px;
	color: #c4c4c4;
}

.breadcrumbs__list-item::after {
	content: "";
	position: absolute;
	right: 0;
	background-image: url(../images/link-arrow.svg);
	width: 6px;
	height: 9px;
	bottom: 6px;
}

.breadcrumbs__list-item:last-child::after {
	display: none;
}

.catalog {
	margin-bottom: 100px;
}

.catalog__title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	font-family: "SFProDisplay-Bold", sans-serif;
	margin-bottom: 26px;
}

.catalog__filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.catalog__filter-items button {
	font-size: 14px;
	line-height: 17px;
	opacity: 0.7;
	background: #f0f0f4;
	border-radius: 3px;
	border: none;
	padding: 5px 22px;
	cursor: pointer;
}

.catalog__filter-items button + button {
	margin-left: 8px;
	cursor: pointer;
}

.catalog__filter-btn {
	display: flex;
	align-items: center;
}

.catalog__filter-btn button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.catalog__filter-btn button + button {
	margin-left: 10px;
}

.catalog__filter-btngrid {
	width: 26px;
	height: 21px;
}

.catalog__filter-btnline {
	width: 25px;
	height: 19px;
}

.catalog__filter-button {
	opacity: 0.3;
}

.catalog__filter-button--active {
	opacity: 1;
}

.select-item {
	border: 1.5px solid #d7d9df;
	font-size: 14px;
	line-height: 17px;
	margin-right: 34px;
	padding: 7px 10px 7px 20px;
}

.catalog__inner {
	display: flex;
}

.catalog__inner-aside {
	margin-right: 10px;
}

.catalog__inner-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper {
	margin-bottom: 30px;
}

.product-item__img {
	max-width: 100%;
}

.pagination {
	width: 100%;
	margin-top: 70px;
}

.pagination-list {
	display: flex;
	justify-content: center;
}

.pagination-list__item {
	padding: 6px 12px;
	border: 2px solid transparent;
	margin: 0 4px;
	font-size: 18px;
	line-height: 22px;
	color: #c4c4c4;
}

.pagination-list__item.active {
	padding: 6px 12px;
	border: 2px solid #1c62cd;
	color: #1c62cd;
}

.pagination-list__item a {
	display: block;
}

.aside-filter__tabs {
	display: flex;
	justify-content: space-between;
}

.aside-filter__tab {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #c4c4c4;
	width: 50%;
}

.aside-filter__tab.tab--active {
	font-family: "SFProDisplay-Bold", sans-serif;
	font-weight: bold;
	color: #2f3035;
}

.aside-filter__tab.tab--active span {
	display: inline-block;
	padding-bottom: 7px;
	border-bottom: 2px solid #9b9c9e;
}

.aside-filter__item-drop {
	margin: 40px 0;
}

.aside-filter__item-title {
	font-family: "SFProDisplay-Semibold", sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding-left: 26px;
}

.filter__item-drop {
	position: relative;
	cursor: pointer;
}

.filter__item-drop::before {
	content: "";
	background-image: url("../images/arrow-down.svg");
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 12px;
	height: 8px;
	transform: rotate(0deg);
}

.filter__item-drop--active::before {
	transform: rotate(180deg);
}

.aside-filter__content {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.aside-filter__content-box {
	width: 50%;
	margin-bottom: 10px;
}

.aside-filter__content-label {
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

.jq-checkbox,
.jq-radio {
	background: #fff;
	width: 14px;
	height: 14px;
	border: 1px solid #c4c4c4;
	border-radius: 1px;
	box-shadow: none;
	vertical-align: -1px;
	margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
	background: #1c62cd;
	border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
	width: 8px;
	height: 6px;
	margin: 3px 0 0 3px;
	border-bottom: none;
	border-left: none;
	transform: rotate(0);
	background-image: url("../images/checked-icon.svg");
}

.jq-radio.checked .jq-radio__div {
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio {
	flex-wrap: nowrap;
}

.irs--flat {
	width: 100%;
	margin-top: -15px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
	font-family: "Barlow", sans-serif;
	top: 55px;
	padding: 0;
	font-size: 14px;
	line-height: 17px;
	text-decoration: underline;
	color: #2f3035;
	text-shadow: none;
	background-color: transparent;
	border-radius: 0;
	visibility: visible !important;
	padding-left: 27px;
}

.irs-min::before,
.irs-max::before {
	position: absolute;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #c4c4c4;
	left: 0;
}

.irs-min::before {
	content: "от";
}

.irs-max::before {
	content: "до";
}

.irs--flat .irs-line {
	top: 25px;
	height: 1px;
	background-color: #e0e0e0;
	border-radius: 0;
}

.irs--flat .irs-bar {
	top: 25px;
	height: 3px;
	background-color: #1c62cd;
}

.irs--flat .irs-handle {
	top: 22px;
	width: 8px;
	height: 8px;
	background-color: #1c62cd;
	border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child {
	background: transparent;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
	background-color: transparent;
}

.aside-filter__item-list {
	margin: 80px 0 40px;
}

.filter__item-list {
	border-bottom: 2px solid #c4c4c4;
	display: flex;
	justify-content: space-between;
}

.filter__item-listtitle {
	font-family: "SFProDisplay-Semibold", sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 14px;
}

.filter__item-listselect {
	line-height: 17px;
	font-size: 14px;
	color: #48494d;
	font-family: "Barlow", sans-serif;
}

.jq-selectbox__select {
	line-height: 17px;
	font-size: 14px;
	color: #48494d;
	font-family: "Barlow", sans-serif;

	height: 20px;
	padding: 0 30px 0 10px;

	border-radius: 0;
	background: transparent;
	box-shadow: none;

	text-shadow: none;
	border: none;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border: none;
}

.jq-selectbox__trigger {
	background-image: url("../images/arrow-down.svg");
	bottom: 5px;
	width: 12px;
	height: 8px;
	border-left: none;
	top: 6px;
	right: 9px;
}

.jq-slectbox__select:hover .jq-slectbox__select:active {
	background: transparent;
	box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}

.jq-selectbox li:hover {
	background: rgba(107, 126, 172, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
	background: rgba(107, 126, 172, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
	border-radius: 0;
	padding-top: 15px;
}

.filter-more {
	width: 100%;
}

.filter-more__btn {
	line-height: 17px;
	font-size: 14px;
	border: none;
	color: #1c62cd;
	border-bottom: 1px solid #1c62cd;
	background-color: transparent;
	padding: 0;
}

.filter-search {
	width: 100%;
	border: 1px solid #e0e0e0;
	height: 30px;
	padding: 0 20px;
	line-height: 14px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.filter-search::placeholder {
	color: #bdbec2;
}

.btn-checked .aside-filter__content {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
	width: auto;
}

.btn-checked .aside-filter__content-label {
	position: relative;
	height: 25px;
	width: 63px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	font-weight: bold;
	color: #c4c4c4;
}

.btn-checked .jq-checkbox {
	height: 25px;
	width: 63px;
	background: #f0f0f4;
	border: none;
}

.btn-checked .jq-checkbox.checked {
	background: #1c62cd;
	color: #fff;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text {
	color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
	display: none;
}

.btn-checked__text {
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-57%);
	z-index: 5;
}

.filter-btn__send {
	background: #f0f0f4;
	padding: 16px 85px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	color: #bdbec2;
	border: none;
	cursor: pointer;
	margin-bottom: 15px;
}

.filter-btn__send--active {
	background-color: #1c62cd;
	color: #fff;
}

.aside-filter__item-btn {
	text-align: center;
}

.filter__extra {
	font-size: 13px;
	line-height: 16px;
	position: relative;
	padding-right: 29px;
	display: inline-block;
	margin-bottom: 15px;
}

.filter__extra::after {
	content: "";
	position: absolute;
	right: 0;
	background-image: url("../images/arrow-down.svg");
	width: 12px;
	height: 8px;
	top: 4px;
}

.filter__extra-content {
	display: none;
}

.filter__extra.filter__item-drop--active::after {
	transform: rotate(180deg);
}

.filter-btn__reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	font-size: 13px;
	line-height: 16px;
	display: inline-block;
	border-bottom: 1px solid #c4c4c4;
	color: #c4c4c4;
	font-size: 13px;
}
